.footer {
  @include responsiveSize("padding-top", 120, 50);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg.jpg") center / cover no-repeat;

  &__title {
    @include responsiveSize("font-size", 30, 30);
    text-align: center;
    @include responsiveSize("margin-bottom", 10, 10);
    color: $white;
  }

  &__text {
    text-align: center;
    @include responsiveSize("font-size", 12, 12);
    @include responsiveSize("margin-bottom", 50, 50);
    color: $white;
  }

  &__form-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &__input {
    color: $white;
    flex: 1 1 29%;
    display: block;
    margin: 0 20px;
    background-color: transparent;
    border: 2px solid $orange;
    padding: 5px 10px 5px 10px;
    @include responsiveSize("margin-bottom", 30, 30);
    &:focus {
      box-shadow: 4px 4px 8px 0px rgba(255, 91, 91, 1);
    }
    &::-webkit-input-placeholder {
      color: $white;
    }
    &:-moz-placeholder {
      color: $white;
    }
    &::-moz-placeholder {
      color: $white;
    }
    &:-ms-input-placeholder {
      color: $white;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    @include responsiveSize("margin-bottom", 100, 100);
  }

  &__rights-reserved {
    position: relative;
    padding: 50px 0px 50px 0px;
    p {
      position: relative;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      height: 100%;
      top: 0;
      left: 0;
      background-color: $black;
    }
  }
}

@media (min-width: 576px) {
  .footer {
    &__form-row {
      flex-direction: row;
    }
    &__input {
      max-width: 300px;
      width: 100%;
    }
  }
}
@media (min-width: 320px) {
  .footer {
    &__form-row {
      flex-direction: column;
    }
    &__input {
      max-width: none;
      width: auto;
    }
  }
}
