.home-block {
  @include responsiveSize("padding-top", 120, 50);
  @include responsiveSize("padding-bottom", 120, 50);
  background: url("../img/bg.jpg") 0 0 / cover no-repeat;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__row {
    position: relative;
    z-index: 2;
    display: flex;
  }
}

.home-block-left {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  &__title {
    text-transform: uppercase;
    @include responsiveSize("font-size", 18, 16);
    color: $black;
    @include responsiveSize("margin-bottom", 20, 20);
    line-height: 130%;
  }

  &__text {
    width: 100%;
    max-width: 260px;
    @include responsiveSize("font-size", 13, 13);
    text-align: center;
    @include responsiveSize("margin-bottom", 20, 20);
    line-height: 130%;
  }

  &__input {
    border: 2px solid $gray;
    padding: 10px;
    @include responsiveSize("margin-bottom", 15, 15);
    width: 100%;
    &:focus {
      box-shadow: 0 0 10px rgb(0 0 0 / 80%);
    }
  }

  &__btn {
    @include responsiveSize("margin-top", 15, 15);
  }
}
.home-block-right {
  width: 100%;
  max-width: 500px;

  &__title {
    text-transform: uppercase;
    color: $white;
    @include responsiveSize("font-size", 30, 20);
    @include responsiveSize("margin-bottom", 20, 20);
    line-height: 130%;
  }

  &__subtitle {
    @include responsiveSize("margin-bottom", 50, 50);
    @include responsiveSize("font-size", 18, 16);
    h3 {
      display: inline;
      background-color: $red;
      color: $white;
      padding: 0px 0px 0px 5px;
      line-height: 130%;
    }
  }

  &__text {
    @include responsiveSize("font-size", 18, 16);
    color: $white;
    @include responsiveSize("margin-bottom", 20, 20);
    line-height: 130%;
    span {
      background: $orange;
      color: white;
    }
  }
}

.btn-primary {
  button {
    text-transform: uppercase;
    background-color: $orange;
    color: $white;
    padding: 10px 20px 10px 20px;
    transition: all 0.7s ease;
    @include responsiveSize("font-size", 14, 14);
    &:hover {
      background-color: $mainColor;
      color: $white;
    }
  }
}

.btn-primary-link {
  a {
    text-transform: uppercase;
    background-color: $orange;
    color: $white;
    padding: 10px 20px 10px 20px;
    transition: all 0.7s ease;
    @include responsiveSize("font-size", 14, 14);
    &:hover {
      background-color: $mainColor;
      color: $white;
    }
  }
}
.home-block-right-countdown {
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
  }

  &__time {
    @include responsiveSize("font-size", 40, 30);
  }

  &__time-tracker {
    @include responsiveSize("font-size", 40, 30);
    margin: 0px 15px 0px 15px;
    color: $white;
  }
  &__text {
    text-transform: uppercase;
    @include responsiveSize("font-size", 10, 10);
    @include responsiveSize("margin-top", 5, 5);
  }
  &__time-wrapper {
    text-align: center;
    color: $white;
  }
}

@media (min-width: 992px) {
  .home-block {
    &__row {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .home-block-right {
    margin-bottom: 0px;
    text-align: left;
  }
}

@media (min-width: 320px) {
  .home-block {
    &__row {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }
  .home-block-right {
    margin-bottom: 40px;
    text-align: center;
  }
}
