.strategy-block {
  @include responsiveSize("padding-top", 120, 50);
  &__title {
    @include responsiveSize("margin-bottom", 80, 80);
  }

  &__row {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
  }
}

.strategy-block-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
  &__logo {
    @include responsiveSize("margin-bottom", 20, 20);
    img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $black;
    @include responsiveSize("margin-bottom", 20, 20);
    text-align: center;
    line-height: 160%;
  }

  &__text {
    text-align: center;
    @include responsiveSize("font-size", 13, 13);
    flex: 1 1 auto;
    line-height: 160%;
  }
}

.title {
  font-size: 20px;
  line-height: 1.2;
  color: $black;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: $black;
    margin: 0px 0px -25px -25px;
  }
}

.mentor-block {
  @include responsiveSize("padding-top", 120, 50);
  @include responsiveSize("padding-bottom", 120, 50);
  &__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -20px;
  }

  &__img {
    img {
      width: 100%;
      max-width: 555px;
      height: auto;
    }
  }

  &__right {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include responsiveSize("margin-bottom", 80, 80);
  }

  &__list {
    flex: 1 1 auto;
    line-height: 160%;
    li {
      position: relative;
      padding: 0px 0px 0px 25px;
      width: 100%;
      @include responsiveSize("margin-bottom", 10, 10);

      &::before {
        content: "";
        background: url(../img/check-v.01.svg) 0 0 no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }

  &__btn {
    align-self: center;
  }
}

@media (min-width: 992px) {
  .strategy-block-column {
    margin: 0px 20px 0px 20px;
  }
  .mentor-block {
    &__left {
      margin: 0 20px 0px 20px;
    }
    &__list {
      li {
        max-width: 300px;
      }
    }
  }
}
@media (min-width: 768px) {
  .strategy-block-column {
    flex: 1 1 20%;
  }
}
@media (min-width: 576px) {
  .strategy-block {
    &__row {
      flex-direction: row;
    }
  }
  .strategy-block-column {
    flex: 1 1 40%;
  }
}
@media (min-width: 320px) {
  .strategy-block {
    &__row {
      flex-direction: column;
    }
  }
  .strategy-block-column {
    margin: 0px 20px 20px 20px;
  }
  .mentor-block {
    &__left {
      margin: 0 20px 60px 20px;
    }
    &__list {
      li {
        max-width: none;
      }
    }
    &__btn {
      @include responsiveSize("margin-top", 40, 40);
    }
  }
}
